@media screen and (max-width: 1200px) {
  .home-slider {
    .one-slide {
      height: 630px;
    }
    .banner-text {
      height: 425px;
      padding-top: 85px;
      .text {
        font-size: 20px;
        line-height: 45px;
      }
    }
  }
  .experts {
    padding-top: 55px;
    padding-bottom: 90px;
    h3 {
      font-size: 30px;
    }
    .blue-block {
      padding: 43px 50px 43px 50px;
      h4 {
        margin: 0 0 30px 0;
      }
    }
  }
  .coffe-maker {
    padding-top: 35px;
    padding-bottom: 45px;
    h4 {
      margin: 0 0 20px 0;
      font-size: 30px;
    }
    .pre-text {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 35px;
    }
    .img-cont {
      width: 390px;
      min-width: 390px;
    }
    .char-list {
      font-size: 16px;
      line-height: 20px;
      li {
        padding-left: 40px;
        margin: 10px 0;
      }
    }
  }
  .photos-cont {
    .img-cont {
      height: 220px;
    }
  }
  .wmf-espresso {
    .img-cont {
      width: 420px !important;
      min-width: 420px !important;
    }
  }
  .optional-equipment {
    h3 {
      font-size: 30px;
      margin: 0 0 30px 0;
    }
    .list {
      margin-bottom: 15px;
    }
    .exhortation {
      h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 30px;
      }
      .fa-angle-double-down {
        font-size: 80px;
      }
    }
  }
  .contact {
    font-size: 30px;
    height: 415px;
    padding-top: 55px;
    h3 {
      font-size: 30px;
      margin: 0 0 25px 0;
    }
    .pre-text {
      line-height: 30px;
      margin-bottom: 12px;
      font-size: 25px;
    }
    .phone {
      margin-bottom: 23px;
      .fa {
        font-size: 48px;
      }
    }
    .mail {
      margin-bottom: 20px;
      .fa {
        font-size: 35px;
      }
    }
    .adress {
      .fa {
        font-size: 40px;
      }
    }
  }
  footer {
    .social {
      height: 155px;
    }
  }
}