@media screen and (max-width: 1400px) {
  .page-in {
    width: 1200px;
  }
  .home-page {
    padding: 35px 60px 55px 60px;
  }
  .page {
    padding: 18px 60px 55px 60px;
  }
  .article-page {
    padding: 0px 60px 55px 60px;
  }
}
