@media screen and (max-width: 540px) {
  header {
    .container {
      width: 300px;
    }
  }
  .container {
    width: 300px;
  }
  .home-slider {
    .one-slide {
      .banner-text {
        width: 300px;
        left: 0;
        right: 0;
        padding-left: 10px;
        padding-right: 10px;
        h1 {
          font-size: 20px;
        }
        .text {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
  .experts {
    h3 {
      font-size: 20px;
    }
    .blue-block {
      padding: 15px;
      h4 {
        font-size: 17px;
        margin: 0 0 10px 0;
      }
      .cont {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }
  .coffe-maker {
    h4 {
      font-size: 20px;
    }
    .pre-text {
      font-size: 17px;
      line-height: 23px;
    }
    .download-doc {
      width: 100%;
      font-size: 17px;
      .format-wrap {
        font-size: 20px;
      }
    }
    .btn-char {
      font-size: 17px;
      padding-left: 25px;
    }
    .char-list {
      font-size: 15px;
      line-height: 18px;
      li {
        padding-left: 30px;
      }
    }
    .img-cont {
      max-width: 85%;
    }
  }
  .actual {
    h3 {
      font-size: 20px;
      margin: 0 0 15px 0;
    }
    .img-cont {
      height: 200px;
    }
    .descr {
      height: 45px;
    }
    .name {
      font-size: 20px;
    }
  }
  .photos-cont {
    .img-cont {
      margin: 10px;
      width: 100%;
    }
  }
  .optional-equipment {
    h3 {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
    .one-eq {
      .for {
        height: auto;
        min-height: 65px;
        font-size: 16px;
        line-height: 24px;
      }
      .descr {
        height: 55px;
        .name {
          font-size: 19px;
        }
      }
    }
    .exhortation {
      padding-top: 0;
      padding-bottom: 0;
      h3 {
        font-size: 18px;
      }
    }
  }
  .contact {
    font-size: 17px;
    padding-top: 35px;
    padding-bottom: 35px;
    .pre-text {
      font-size: 14px;
    }
    .phone {
      .fa {
        font-size: 33px;
      }
    }
    .mail {
      .fa {
        font-size: 31px;
      }
    }
    .adress {
      .fa {
        font-size: 33px;
      }
    }
  }
  .feedback-open-wrap {
    right: 10px;
  }
  .page-404 {
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
      font-size: 19px;
      width: 100%;
    }
    h5 {
      font-size: 14px;
    }
    .go-to-home {
      font-size: 19px;
    }
  }
  .go-to-top {
    right: 10px;
  }
  footer {
    .social {
      height: 100px;
      a {
        width: 50px;
        height: 50px;
      }
    }
  }
  .actual {
    .active-text {
      font-size: 15px;
      padding: 0 10px;
    }
  }
}