@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #04082E;
    width: 45px;
    justify-content: center;
  }
  header {
    height: 50px;
    .header-cont {
      height: 50px;
    }
    .menu-cont {
      width: 280px;
      position: fixed;
      height: 100vh;
      background: #FFFFFF;
      top: 0;
      right: 0;
      box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.25);
      justify-content: flex-start;
      padding-top: 20px;
    }
    .menu-cont-wrap {
      display: none;
    }
    .top-cont {
      flex-direction: column;
      order: 2;
      padding: 15px 0;
      border-top: 1px solid #04082E;
      .mail {
        margin-left: 0;
      }
      & > a {
        font-size: 18px;
        padding-left: 15px;
        height: 40px;
      }
    }
    nav {
      order: 1;
      padding: 10px 0;
      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        margin-left: 0;
        padding-left: 15px;
        font-size: 19px;
      }
    }
    .dropdown {
      margin-left: 0;
      padding-left: 15px;
    }
    .btn {
      font-size: 18px;
    }
    .dropdown-menu>li>a {
      font-size: 18px;
      height: 28px;
    }
  }
  .js-close-menu {
    display: flex;
    z-index: 99;
  }
  br {
    display: none;
  }
  .home-slider {
    .one-slide {
      height: 430px;
      .banner-text {
        padding-top: 10px;
        height: auto;
        left: 20px;
        right: 20px;
        h1 {
          font-size: 27px;
        }
        .text {
          line-height: 32px;
        }
      }
    }
  }
  .js-feedback-open {
    width: 60px;
    height: 60px;
    .fa-phone {
      font-size: 36px;
    }
  }
  .experts {
    padding-top: 30px;
    padding-bottom: 40px;
    h3 {
      font-size: 25px;
      margin: 0 0 15px 0;
    }
  }
  .coffe-maker {
    padding-top: 25px;
    padding-bottom: 35px;
    h4 {
      font-size: 25px;
      margin: 0 0 10px 0;
    }
    .img-cont {
      max-width: 65%;
      width: auto !important;
      min-width: 0 !important;
      img {
        max-width: 100%;
      }
    }
    .btn-char {
      height: 55px;
      font-size: 21px;
    }
    .one-char.active .char-list {
      display: none;
    }
    .char-list {
      padding: 5px 0;
    }
    .download-doc {
      font-size: 22px;
      letter-spacing: -1.2px;
    }
  }
  .actual {
    h3 {
      font-size: 25px;
    }
    .img-cont {
      height: 310px;
    }
  }
  .optional-equipment {
    h3 {
      font-size: 25px;
    }
    .exhortation {
      padding-top: 30px;
      padding-bottom: 30px;
      h3 {
        font-size: 24px;
      }
      .fa-angle-double-down {
        font-size: 70px;
      }
    }
  }
  .contact {
    font-size: 23px;
    .pre-text {
      font-size: 20px;
      line-height: 26px;
    }
    h3 {
      margin: 0 0 15px 0;
      font-size: 25px;
    }
    .phone {
      .fa {
        font-size: 40px;
      }
    }
    .mail {
      .fa {
        font-size: 31px;
      }
    }
    .adress {
      .fa {
        font-size: 37px;
      }
    }
  }
  .page-404 {
    padding-top: 55px;
    padding-bottom: 55px;
    h3 {
      font-size: 24px;
      width: 300px;
      margin: 0 auto 23px auto;
    }
    h5 {
      margin: 0 auto 30px auto;
      font-size: 20px;
    }
    .page-img {
      margin-bottom: 35px;
    }
    .go-to-home {
      height: 50px;
      width: 250px;
      font-size: 23px;
    }
  }
  .go-to-top {
    width: 60px;
    height: 47px;
    font-size: 45px;
    line-height: 1px;
  }
}