@media screen and (max-width: 992px) {
  header {
    nav {
      a {
        font-size: 16px;
        margin-left: 13px;
      }
    }
  }
  .home-slider {
    .one-slide {
      height: 590px;
      .banner-text {
        height: 390px;
        padding-top: 70px;
        h3 {
          font-size: 30px;
        }
        .text {
          line-height: 40px;
        }
      }
    }
  }
  .slick-dots {
    li {
      width: 15px;
      height: 15px;
    }
  }
  .experts {
    padding-top: 40px;
    padding-bottom: 60px;
    h3 {
      margin: 0 0 25px 0;
    }
    .blue-block {
      padding: 35px 35px 35px 35px;
      h4 {
        margin: 0 0 20px 0;
        font-size: 20px;
      }
    }
  }
  .coffe-maker {
    .img-char {
      flex-direction: column;
    }
    .img-cont {
      margin-left: auto;
      margin-right: auto;
    }
    .download-doc {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
    .char-cont {
      width: 100%;
      max-width: none;
    }
  }
  .actual {
    padding-top: 25px;
    padding-bottom: 25px;
    h3 {
      font-size: 30px;
      margin: 0 0 25px 0;
    }
    .img-cont {
      height: 280px;
    }
    .descr {
      height: 55px;
    }
  }
  .photos-cont {
    padding-bottom: 0;
    .img-cont {
      width: calc( 50% - 34px);;
    }
  }
  .optional-equipment {
    .list {
      .col-md-4 {
        margin-bottom: 20px;
      }
    }
    .exhortation {
      h3 {
        margin-top: 15px;
      }
    }
    .fa-angle-double-down {
      font-size: 70px;
    }
  }
  .contact {
    height: auto;
    font-size: 26px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
