@media screen and (max-width: 992px) {
  .home-page {
    .projects-list {
      width: calc( 100% + 30px);
      margin-left: -15px;
      padding-bottom: 19px;
      .slick-prev {
        left: 20px;
      }
      .slick-next {
        right: 20px;
      }
    }
    .articles {
      width: 50%;
      margin-right: 0;
      padding-right: 15px;
      .one-article {
        &:first-child {
          .article-content {
            margin-top: 0;
            width: 100%;
            padding: 22px 0 20px 0;
          }
        }
        &:not(:first-child) {
          margin-bottom: 0;
          .article-content {
            margin-top: 0;
            width: 100%;
            padding: 22px 0 20px 0;
          }
        }
      }

    }
    .news {
      width: 50%;
      border-left: none;
      padding-left: 15px;
    }
    .slide-content h3 {
      margin: 20% 0 16px 0;
    }
    .home-slider {
      .slick-arrow {
        width: 45px;
        height: 45px;
        .fa {
          font-size: 28px;
        }
      }
    }
    .project-image {
      height: auto;
    }
    .project-info {
      padding: 18px 25px 35px 29px;
    }
    .one-project h5 {
      height: 78px;
    }
  }
  .about-us-page {
    .ab-us-direction {
      padding-bottom: 10px;
    }
    .tasks-and-goals ul {
      font-size: 14px;
      margin: 20px 0;
      li {
        padding-left: 23px;
      }
    }
    .reg-docs {
      .docs-slider {
        width: 100%;
      }
    }
  }
  .program-card-page, .programs-list-page {
    .page-content {
      padding-top: 20px;
    }
    .our-miss h3 {
      font-size: 21px;
    }
    .orthodox-blocks {
      margin-top: 25px;
      margin-bottom: 10px;
      padding-top: 31px;
    }
    .one-project {
      width: calc( 50% - 30px );
      &:nth-child(3n+3){
        margin-right: 30px;
      }
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
    .project-image {
      height: 300px;
    }
  }
  .project-page {
    .page-cont {
      flex-wrap: wrap;
    }
    .col-2 {
      width: 100%;
      &:first-child {
        display: flex;
        align-items: flex-start;
        padding-right: 0;
      }
      &:last-child {
        padding-left: 0;
      }
    }
    .large-proj-card {
      margin-right: 30px;
    }
  }

  .galery-page {
    .img-cont {
      width: 285px;
      min-width: 285px;
      img {
        height: 100%;
        width: auto;
      }
    }
    .album-cont {
      padding: 20px 20px 20px 20px;
    }
  }

  .command-page {
    .command-list {
      .one-person-wrap {
        width: 33.3%;
        &:nth-of-type(3n+3){
          &:after {
            content: "";
            height: 1px;
            width: 300%;
            background: #298576;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
        &:nth-child(4n+4){
          &:after {
            display: none;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

}
@media(max-width: 992px){
  .project-page {
    .col-2 {
      &:first-child {
        flex-wrap: wrap;
        margin-bottom: 35px;
      }
    }
    .large-proj-card {
      width: 100%;
      margin-right: 0;
      .img-cont {
        img {
          width: 100%;
        }
      }
      .donation-form {
        .form-group {
          input[type="text"] {
            width: 100%;
          }
        }
      }
    }
  }
  .text-page {
    .page-columns {
      flex-direction: column;
    }
    .text-column {
      padding-right: 0;
      width: 100%;
    }
    .right-aside {
      width: 100%;
      //display: flex;
      .projects {
        width: calc( 50% - 10px );
        float: left;
        margin-right: 20px;
      }
      .fb-page {
        width: calc( 50% - 10px );
        float: left;
        margin-top: 0;
      }
    }
  }
  .contacts-page {
    .col-2{
      width: 100% !important;
      padding-right: 0 !important;
      &:not(:first-child){
        display: none;
      }
    }
    #map {
      height: 320px;
      margin-top: 35px;
    }
  }
  .article-page, .news-list-page {
    .one-project {
      width: calc( 50% - 20px);
      &:nth-child(2) {
        margin-right: 0;
      }
      &:last-child {
        display: none;
      }
    }
    .columns {
      flex-wrap: wrap;
    }
    .text-column {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;
    }
    .right-aside {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .fb-page {
      display: none !important;
    }
    .categories {
      width: calc( 50% - 15px );
    }
    .tags {
      width: calc( 50% - 15px );
    }
  }
  .news-list-page {
    .pagination {
      margin: 35px 0;
    }
    .news-list {
      width: 100%;
    }
    .one-news {
      flex-direction: row;
      height: 275px;
      .img-cont {
        width: 365px;
        min-width: 365px;
        margin-right: 15px;
      }
    }
    .right-aside {
      padding-left: 0;
    }
  }

  .volunteer-page {
    .about-vol {
      .h5 {
        width: 235px;
      }
    }
    .val-action-cont {
      .prod-cont {
        width: 330px;
      }
    }
  }

  .requisites-page {
    .page-content {
      padding-top: 22px;
    }
    .cur-wrap {
      flex-wrap: wrap;
      justify-content: center;
    }
    .req-action-cont {
      padding-bottom: 45px;
      .prod-cont {
        width: 355px;
      }
    }
    .one-cur {
      width: 40%;
      margin-bottom: 30px;
      .img-cont {
        margin-bottom: 10px;
      }
      .descr {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
      }
    }
    .about-req {
      width: 100%;
      padding-right: 0;
      flex-direction: column;
      .h5 {
        padding-right: 0;
        width: 100%;
        min-width: 0;
        br {
          display: none;
        }
      }
      .about-text {
        width: 100%;
      }
    }
    .cur-cont {
      padding-bottom: 0;
    }
  }

  .report-page {
    .one-project {
      .proj-img {
        width: 50%;
        min-width: 50%;
      }
    }
  }

  .box-page {
    .prod-cont {
      width: 320px;
    }
    .wrap {
      margin-top: 50px;
    }
    .col-2 {
      &:last-child {
        padding-top: 18px;
      }
    }
    .box-action-cont {
      padding-bottom: 50px;
    }
    .about-req {
      width: 100%;
      padding-right: 0;
      flex-direction: column;
      .h5 {
        padding-right: 0;
        width: 100%;
        min-width: 0;
        margin: 0;
      }
      .about-text {
        width: 100%;
      }
    }
    .box-wrap {
      .one-box {
        width: 170px;
      }
      .descr {
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 15px;
        padding-right: 10px;
      }
    }
  }

}